@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #fff;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
}

a {
  color: inherit;
}
