.cart-container {
    padding: 2rem;
    color: white;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #1e1e1e;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.cart-item img {
    width: 80px;
    border-radius: 8px;
}

.clear-btn {
    background: #00ffff;
    color: black;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
