.detail-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: black;
}

.detail-container img {
    width: 300px;
    border-radius: 10px;
}

.detail-info {
    max-width: 400px;
}

.buy-btn {
    background-color: #00d9ff;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
